@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all ease .3s;
}

code {
  font-family: "Roboto", monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  border: none;
}

input:focus{
  outline: none;
}